$gray-100: #09090A
$gray-300: #242526
$gray-500: #48494B
$gray-700: #969ea5
$gray-900: #E6EFF2

$back-main: #48494B
$fore-main: #E6EFF2
$middle-main: #9FC2CC
$accent: #4CC8FF
$positive: #B3BF4C

$negative-dark: #D1648F
$negative-light: #D1B1C8

